@{
    ViewBag.Title = "Baked @ About";
}
<h2>Baked, Fully</h2>
<h3>@ViewBag.Message</h3>
<p>Born on a pirate ship; to a master baker, enough said.</p>
<p>Located in Cyber Space, for your convenience.</p>
