@{
    ViewBag.Title = "Baked @ Contact";
}
<h2>Baked, Fully</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Bakery Way<br />
    Seattle, WA 98101<br />
    <abbr title="Phone">P:</abbr>
    206.555.0100
</address>

<address>
    <strong>Eat More Bakery Goods:</strong>
    <a href="mailto:Orders@Baked.com">Orders@Baked.com</a><br />
    <strong>Weight Loss:</strong>
    <a href="mailto:EatLess@Baked.com">EatLess@Baked.com</a>
</address>