@*ITC172 Final Project requirement:
    The home index page should be a welcome to the database*@

@{
    ViewBag.Title = "Baked @ Home";
}

<div class="jumbotron">
    <h1>Baked</h1>
    <p>Welcome to your bakery.</p>
    <p>Not your ordinary bakery.  We have incorporated a database to assist you with your orders and the ordering process as you require.</p>
</div>

<div class="row">
    @*ITC172 Final Project requirement:
        Modify the main page so and add the products and sale pages to the menu*@
    <div class="col-md-4">
        <h2>Baked Products</h2>
        <p>Listing of our baked products.</p>
        @*stackoverflow advice:
            Here '~' refers to the root directory,where Home
            is controller and Products is actionmethod*@
        <p><a class="btn btn-default" href="~/Home/Products">Eat This</a></p>
    </div>
    <div class="col-md-4">
        <h2>Investors</h2>
        <p>Listing of our sales.</p>
        @*stackoverflow advice:
            Here '~' refers to the root directory,where Home
            is controller and Products is actionmethod*@
        <p><a class="btn btn-default" href="~/Home/Sales">Sales Report</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>I want to eat it all...</p>
        <p><a class="btn btn-default" href="~/AddPerson/Index">Sign ^Up^</a></p>
    </div>
    <div class="col-md-4">
        <h2>Eat That</h2>
        <p>I want to...</p>
        <p><a class="btn btn-default" href="~/EatThat/Index">Eat That</a></p>
    </div>
</div>